

.navbar {
	margin-bottom: 0;
}
.loginbg{
	background-color: transparent
}

.test1:hover {
    color:red !important;
}

#jar{
position: relative;
text-align: center;
color: white;

}
.centered{
position: absolute;
top:50%;
left:50%;
transform: translate(-50%, -50% );
font-size: 100px	
}
.textalign{
	text-align: center;
}
.sizefont{
 font-size: 50px

}	

.coverphoto{
	width: 100%;
 height:75% ;
 opacity: 0.7;
}

#paddingp{
	padding: 10px
}


/*--margin font awsome--*/
.mfa{
	margin: 10px
}
