<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/costume.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="css/toaster.css" rel="stylesheet" />
	<script src="js/angular.min.js"></script>
	<script src="angular/index.js"></script>
	
	<script src="angular/common.js"></script>
	<script src="js/toaster.js"></script>
	<style>
		.carousel-inner > .item > img,
		.carousel-inner > .item > a > img {
		  width: 100%;
		  height:400px;
		  margin: auto;
		}
	</style>

</head>


<body ng-app="myApp" ng-controller="myCtrl">	
	 <!--navbar-->
    <div class="container-fluid">
		<div class="row">
				<nav class="navbar navbar-default"> 
						<div class="container-fluid">
							<div class="navbar-header">
								<a class="navbar-brand" href="index.html">Usher</a>
							</div> 
							<ul class="nav navbar-nav">
								<li class="active"><a href="index.html">Home</a></li>
								<li><a href="about.html">about</a></li>
								<li><a href="Contact_us.html">Contact us</a></li>
							    <li><a href="ushers.html">find usher</a></li> 
							</ul>
							<!--navbar right-->
							<ul class="nav navbar-nav navbar-right">
											   <!-- The Modal button -->

								   <li ><button type="button" class="btn loginbg"  data-toggle="modal" data-target="#loginModel" >log in</button> </li>
								   <!-- The Modal -->
								   <toaster-container toaster-options="{'time-out': 7000}"></toaster-container>
										<div class="modal fade" id="loginModel" role="dialog">
												<div id="close" ng-show="boolLogin" class="alert alert-success">
														<strong>Success!</strong> Indicates a successful or positive action.
													  </div>

													  <div id="close" ng-show="boolLoginE" class="alert alert-danger">
														<strong>Success!</strong> Indicates a successful or positive action.

													  </div>	  
											<div class="modal-dialog">
												<div class="modal-content">
												   <!-- Modal Header -->
													    <div class="modal-header"> 
													    <h4 class="modal-title">Login</h4>
													    <button type="button" class="close" data-dismiss="modal">&times;</button>
													    </div>
													      <!-- Modal body -->
													    <div class="modal-body">
														    <div class="container-fluid">
														       <!--Form-->
															   <form> 
															   <div class="form-row">
																<div class="col-sm-2">
																<label class="control-label " for="email">Email:</label>
															   </div>    
																<div class="col-sm-10">
																	<input type="email" ng-model="objUser.email" class="form-control" id="email" placeholder="Enter email" name="email">
					                                             </div>                      
															 </div>
															 <div class="form-row">
																<div class="col-sm-2">
																   <label class="control-label " for="pwd">Password:</label>    
															    </div>
																<div class="col-sm-10">
																   <input type="password" class="form-control" ng-model="objUser.password" id="pwd" placeholder="Enter password" name="pwd">      
																 </div>

															</div> 
															 <div class="form-row">
															     <div class="col-sm-offset-2 col-sm-10">
															        <div class="checkbox">
																     <label><input type="checkbox" name="remember">Remember me</label>
																    </div>
																  </div>      
															</div>
															<div class="form-group">
																   <div class="col-sm-offset-2 col-sm-10">
																	   <button type="button" ng-click="login()" class="btn btn-default">Submit<span ng-show="boolSpinner"><i  class="fa fa-spinner fa-spin" style="font-size:24px"></i></span></button>   
																	   <a href="sign_up.html" class="">sign up</a>
																   </div> 
															</div>
															 
															 </form> 
														    </div>	
														</div> 
												   	 
														 
													<!-- Modal footer -->
													 <div class="modal-footer">
													 <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
													 </div>
						 
												</div>
											</div>
									   </div>
							  </ul>       
						</div>
				</nav>
		</div>
	    <div class="row">  
			<!-- old -->
			<!-- <div  id="jar"> 
			     <img src="img/high-quality-photo.jpg"  alt="nature beauty"  class="img-responsive coverphoto" >
			     <div class="centered">usher</div>
			</div>	       -->
			<!-- new -->
			<div id="myCarousel" class="carousel slide">
					<!-- Indicators -->
					<ol class="carousel-indicators">
					  <li class="item1 active"></li>
					  <li class="item2"></li>
					  <li class="item3"></li>
					  <li class="item4"></li>
					</ol>
				
					<!-- Wrapper for slides -->
					<div class="carousel-inner" role="listbox">
				
					  <div class="item active">
						<img src="img/sunflower.jpg" alt="sunflower" >
						<div class="carousel-caption">
						  <h3>Chania</h3>
						  <p>The atmosphere in Chania has a touch of Florence and Venice.</p>
						</div>
					  </div>
				
					  <div class="item">
						<img src="img/shakehands.jpg" alt="Chania" >
						<div class="carousel-caption">
						  <h3>Chania</h3>
						  <p>The atmosphere in Chania has a touch of Florence and Venice.</p>
						</div>
					  </div>
					
					  <div class="item">
						<img src="img/Apr-2018-Broadcast.jpg" alt="Flower" >
						<div class="carousel-caption">
						  <h3>Flowers</h3>
						  <p>Beautiful flowers in Kolymbari, Crete.</p>
						</div>
					  </div>
				
					  <div class="item">
						<img src="img/raisehandcar.jpg" alt="Flower" >
						<div class="carousel-caption">
						  <h3>Flowers</h3>
						  <p>Beautiful flowers in Kolymbari, Crete.</p>
						</div>
					  </div>
				  
					</div>
				
					<!-- Left and right controls -->
					<!-- <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						  </a>
						  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						  </a> -->
				  </div>
				</div>
				
				<script>
				$(document).ready(function(){
				  // Activate Carousel
				  $("#myCarousel").carousel({interval: 2000});
					
				  // Enable Carousel Indicators
				  $(".item1").click(function(){
					$("#myCarousel").carousel(0);
				  });
				  $(".item2").click(function(){
					$("#myCarousel").carousel(1);
				  });
				  $(".item3").click(function(){
					$("#myCarousel").carousel(2);
				  });
				  $(".item4").click(function(){
					$("#myCarousel").carousel(3);
				  });
					
				  // Enable Carousel Controls
				  $(".left").click(function(){
					$("#myCarousel").carousel("prev");
				  });
				  $(".right").click(function(){
					$("#myCarousel").carousel("next");
				  });
				});
				</script>
				
	   
        <div class="row">
			<div class="col-sm-12 textalign"  >
				<p class="sizefont">usher Mirette</p>
				
			</div>
		</div>



	</div>

	
</body>
</html>