<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/costume.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="angular/sign_up.js"></script>
    <script src="angular/common.js"></script>
    <style>
    
    </style>
<body ng-app="myApp" ng-controller="myCtrl">

       <div class="container-fluid">
            <div class="row">
                    <nav class="navbar navbar-default">
                           <div class="navbar-header">
                           <a class="navbar-brand" href="#">Usher</a>
                           </div> 
                                                        
                            <ul class="nav navbar-nav">
                                <li ><a href="index.html">Home</a></li>
                                <li ><a href="about.html"> about</a></li>
                                <li><a href="Contact_us.html">Contact us</a></li>
                                <li class="active"><a href="#"> sign up</a></li>     
                            </ul>
                    </nav>   
    
            </div>
            
            <div class="row">
                <img src="img/test2.jpg"  alt="nature"  class="img-responsive coverphoto" >
            </div>
            <div class="row">
                <div class="col-sm-12 textalign">
                    <h2 style="font-family: 'Mountains of Christmas', cursive;">Sign up</h2> 
                </div>
            </div>
               
            <form style="margin-left: 30%; margin-right:30%"  >
                    <div class="form-group row " >
                       <label for="name" class="col-sm-2 col-form-label">Full name</label>
                       <div class="col-sm-8">
                          <input ng-model="objUser.name" type="text" class="form-control" id="name" placeholder="Full Name"> 
                       </div> 
                    </div>
                    <div class="form-group row" >
                      <label for="email" class="col-sm-2 col-form-label"  >Email</label>
                      <div class="col-sm-8">
                        <input ng-model="objUser.email" type="email" class="form-control" id="email" placeholder="example@usher.com">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="pwd" class="col-sm-2 col-form-label">Password</label>
                      <div class="col-sm-8">
                        <input ng-model="objUser.password" type="password" class="form-control" id="pwd" placeholder="Password">
                      </div>
                    </div>
                    <div class="form-group row">
                        <label for="country" class="col-sm-2 col-form-label">Gender</label>                                
                        <div class="col-sm-4"> 
                        <select ng-model="objUser.gender" class="form-control form-control-sm" id="gender">
                            <option value="female">female</option> 
                            <option value="male">male</option>
                        </select>    
                        </div>
                    </div>  
                    <!-- <div class="form-group row" >
                      <label class="col-form-label col-sm-2"  >Gender</label>
                      
                        <div class="col-sm-8 radio">
                          <label><input type="radio" name="optradio" checked>Female</label>
                          <label><input type="radio" name="optradio" checked>Male</label>
                        </div>
                        
                              
                             
                    </div> -->
                    <div class="form-group row">
                        <label for="tall" class="col-sm-2 col-form-label test1">Tall</label>
                        <div class="col-sm-6">
                           <input ng-model="objUser.tall" type="number" class="form-control" id="tall" > 
                        </div>  
                    </div>                    
                    <div class="form-group row">
                        <label for="tele" class="col-sm-2 col-form-label">Mobile</label>
                        <div class="col-sm-8">
                            <input ng-model="objUser.mobile" type="tel" class="form-group" id="tele" placeholder="EX:01234567899">
                        </div> 
                    </div>
                    <div class="form-group row">
                        <label for="img" class="col-sm-2 col-form-label">Image</label>
                        <div class="col-sm-8">
                           <input type="file" class="form-group-file" id="img">   
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="birthdate" class="col-sm-2 col-form-label">Birthday</label>
                        <div class="col-sm-8">
                        <input ng-model="objUser.birthDate" type="date" class="form-group" id="birthdate">
                        </div> 
                    </div>
                    <div class="form-group row">
                        <label for="country" class="col-sm-2 col-form-label">Country</label>                                
                        <div class="col-sm-4"> 
                        <select class="form-control form-control-sm" id="country">
                            <option>country</option> 
                        </select>    
                        </div>
                    </div>    
                    <div class="form-group row">
                            <label for="district" class="col-sm-2 col-form-label">District</label>                                
                            <div class="col-sm-4"> 
                            <select class="form-control form-control-sm" id="district">
                                <option>District</option> 
                            </select>    
                            </div>
                        </div>      
                     <div class="form-group row">
                            <label for="region" class="col-sm-2 col-form-label">Region</label>                                
                            <div class="col-sm-4"> 
                            <select class="form-control form-control-sm" id="region">
                                <option>Region</option> 
                            </select>    
                            </div>
                     </div> 
                     <p id="demo"></p>
                    <div class="form-group row">
                      <div class="col-sm-10"  >
                        <button ng-click="register()"  type="button" class="btn btn-primary">Sign in</button>
                      </div>
                    </div>
                  </form>
      
                

                  <script>
                    var x = 10;
                    document.getElementById("demo").innerHTML = x;
                    </script>









































       </div>
</body>